node_red_flow/mqtt_flow.json
[
    {
        "id": "419fcee8.bcaf8",
        "type": "tab",
        "label": "Mqtt Subscribe",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e4ab657e.85d518",
        "type": "tab",
        "label": "Mqtt Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c3d05a31.035eb8",
        "type": "subflow",
        "name": "Config File",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 240,
                "wires": [
                    {
                        "id": "d7224047.db04d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1200,
                "y": 240,
                "wires": [
                    {
                        "id": "91eb0d44.a375",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "560ef120.86202",
        "type": "mqtt-broker",
        "z": "",
        "name": "alicedigitallabs2",
        "broker": "m16.cloudmqtt.com",
        "port": "19168",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "8f2e5985.11b078",
        "type": "mqtt-dynamic-broker",
        "z": "",
        "broker": "m16.cloudmqtt.com",
        "port": "19168",
        "clientid": ""
    },
    {
        "id": "14a41ecb.f24271",
        "type": "mqtt-broker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": 15,
        "cleansession": true,
        "birthQos": "0",
        "willQos": "0"
    },
    {
        "id": "ed1502dd.ad7fb",
        "type": "mqtt-dynamic in",
        "z": "419fcee8.bcaf8",
        "name": "{UUID}/control/pi_state",
        "broker": "8f2e5985.11b078",
        "x": 800,
        "y": 380,
        "wires": [
            [
                "ca8b9c54.9dd5a"
            ]
        ]
    },
    {
        "id": "d315ca00.952b98",
        "type": "mqtt-dynamic in",
        "z": "419fcee8.bcaf8",
        "name": "{UUID}/control/{channel}/throttle",
        "broker": "8f2e5985.11b078",
        "x": 1090,
        "y": 480,
        "wires": [
            [
                "8cb02b51.b40478"
            ]
        ]
    },
    {
        "id": "d2c726f3.ade2a8",
        "type": "mqtt-dynamic in",
        "z": "419fcee8.bcaf8",
        "name": "{UUID}/control/{channel}/{resourceId}/state",
        "broker": "8f2e5985.11b078",
        "x": 1390,
        "y": 600,
        "wires": [
            [
                "ad9e9061.bfe6"
            ]
        ]
    },
    {
        "id": "9267291f.3f5468",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "The State of the Pi",
        "info": "Allows the Pi to move to another state (such as play to debug)\n\nThe Pi state can only be:\n\n- ready : {state}\n- requested : {target_state}\n- busy : {target_state}",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "96865645.1d0378",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Throttle Percentage for a Channel",
        "info": "Sets the throttle percentage for a specific channel (car)",
        "x": 1100,
        "y": 440,
        "wires": []
    },
    {
        "id": "878668f8.26b6b8",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "The State of the Resource",
        "info": "SPWA can request to set the state of \nthe resource to requested.\n\n",
        "x": 1390,
        "y": 560,
        "wires": []
    },
    {
        "id": "cf79bbb7.c70528",
        "type": "link in",
        "z": "419fcee8.bcaf8",
        "name": "Control-Subscribe",
        "links": [
            "a3987ddd.a47a88",
            "3449a4ea.9e34fc"
        ],
        "x": 75,
        "y": 380,
        "wires": [
            [
                "3548502d.667db"
            ]
        ]
    },
    {
        "id": "76ff4f5f.517e3",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "/control",
        "func": "msg.topic = msg.topic+\"/control\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "c0e09bb7.1446d8",
                "7db2788e.cda188"
            ]
        ]
    },
    {
        "id": "c0e09bb7.1446d8",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "/pi_state",
        "func": "msg.topic = msg.topic+\"/pi_state\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "ed1502dd.ad7fb"
            ]
        ]
    },
    {
        "id": "7db2788e.cda188",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "/{channel}",
        "func": "msg.topic = msg.topic+\"/+\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "5ab234bd.db68ec",
                "750c054d.42c6fc",
                "9205a219.09e1b"
            ]
        ]
    },
    {
        "id": "5ab234bd.db68ec",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "/throttle",
        "func": "msg.topic = msg.topic+\"/throttle\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "d315ca00.952b98"
            ]
        ]
    },
    {
        "id": "750c054d.42c6fc",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "/{resource_id}",
        "func": "msg.topic = msg.topic+\"/+\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 600,
        "wires": [
            [
                "16e21bfd.7e10b4"
            ]
        ]
    },
    {
        "id": "16e21bfd.7e10b4",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "/state",
        "func": "msg.topic = msg.topic+\"/state\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 600,
        "wires": [
            [
                "d2c726f3.ade2a8"
            ]
        ]
    },
    {
        "id": "3c7a5b43.186d14",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Testing All",
        "topic": "",
        "payload": "all",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "e2cee36.25ee12",
        "type": "mqtt out",
        "z": "e4ab657e.85d518",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "14a41ecb.f24271",
        "x": 1030,
        "y": 600,
        "wires": []
    },
    {
        "id": "586a872a.c217b8",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Pi State",
        "topic": "",
        "payload": "pi_state",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "e8da383.c5806c8",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Game State",
        "topic": "",
        "payload": "game_state",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "58e392bd.402f4c",
        "type": "function",
        "z": "e4ab657e.85d518",
        "name": "",
        "func": "\nlet messages = [];\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"pi_state\") {\n    \n    let request = {\n        requested : \"debug\"\n    }\n    \n    let msg = {\n        topic: \"testUUID/control/pi_state\",\n        payload: request,\n        retain : true\n    };\n    messages.push(msg);\n}\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"game_state\") {\n    let msg = {\n        topic: \"testUUID/control/game_state\",\n        payload: \"Testing Game State\"\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"channel\" || msg.payload === \"throttle\") {\n    \n    let msg = {\n        topic: \"testUUID/control/1/throttle\",\n        payload: {\n            set : 90\n        }\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"channel\" || msg.payload === \"event\") {\n    let msg = {\n        topic: \"testUUID/control/1/event\",\n        payload: \"Testing Channel Event\"\n    };\n    messages.push(msg);\n}\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"channel\" || msg.payload === \"state\") {\n    let request = {\n        state : \"requested\",\n        target : 0\n    }\n    \n    let msg = {\n        topic: \"testUUID/control/1/1/state\",\n        payload: request\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"control\" || msg.payload === \"channel\" || msg.payload === \"count\") {\n    let msg = {\n        topic: \"testUUID/control/1/1/count\",\n        payload: \"Testing Resource Count\"\n    };\n    messages.push(msg);\n}\n\nif (msg.payload === \"all\" || msg.payload === \"sensors\") {\n    let msg = {\n        topic: \"testUUID/sensors\",\n        payload: \"Testing Sensors\"\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"sensorId\") {\n    let msg = {\n        topic: \"testUUID/sensors/1\",\n        payload: \"Testing Specific Sensor\"\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"trigger_percent\") {\n    let msg = {\n        topic: \"testUUID/sensors/1/trigger_percent\",\n        payload: \"Testing Throttle Percent\"\n    };\n    messages.push(msg);\n}\n\n\nif (msg.payload === \"all\" || msg.payload === \"resources\") {\n    let msg = {\n        topic: \"testUUID/resources\",\n        payload: \"Testing Resources\"\n    };\n    messages.push(msg);\n}\n\n\n\n\n\nreturn [messages];",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 580,
        "wires": [
            [
                "e2cee36.25ee12"
            ]
        ]
    },
    {
        "id": "2412712b.d51aae",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Control",
        "topic": "",
        "payload": "control",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "ecffc53a.47b5c8",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Channel",
        "topic": "",
        "payload": "channel",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 500,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "5a08c325.3c1dcc",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Throttle",
        "topic": "",
        "payload": "throttle",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 540,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "8927c439.08a7e8",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "State",
        "topic": "",
        "payload": "state",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "10036c49.2f5364",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Count",
        "topic": "",
        "payload": "count",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 620,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "71d86e6e.23bf8",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Event",
        "topic": "",
        "payload": "event",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 660,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "7703a219.402a1c",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Sensors",
        "topic": "",
        "payload": "sensors",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 720,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "ef9cadac.ab6cc",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Sensor Id",
        "topic": "",
        "payload": "sensorId",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 760,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "89f947d7.d6d088",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "Trigger Percent",
        "topic": "",
        "payload": "trigger_percent",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "fbbe393c.eb5228",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "resources",
        "topic": "",
        "payload": "resources",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 860,
        "wires": [
            [
                "58e392bd.402f4c"
            ]
        ]
    },
    {
        "id": "afef8f91.7d183",
        "type": "link in",
        "z": "419fcee8.bcaf8",
        "name": "Pi_State",
        "links": [
            "45f9af2b.667f7"
        ],
        "x": 195,
        "y": 1000,
        "wires": [
            [
                "9915ff2c.f9199"
            ]
        ]
    },
    {
        "id": "9915ff2c.f9199",
        "type": "json",
        "z": "419fcee8.bcaf8",
        "name": "Request Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "6dc10e16.cfd16"
            ]
        ]
    },
    {
        "id": "c71cebbe.63c1b8",
        "type": "switch",
        "z": "419fcee8.bcaf8",
        "name": "Pi State",
        "property": "payload.requested",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "debug",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "e8aaf5b5.b508f8",
        "type": "mqtt out",
        "z": "419fcee8.bcaf8",
        "name": "/pi_state",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "560ef120.86202",
        "x": 1020,
        "y": 920,
        "wires": []
    },
    {
        "id": "4b085c59.6de7c4",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Pi state Ready",
        "func": "msg.payload = {\n    ready: msg.payload.requested\n};\n\nmsg.retain = true;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 920,
        "wires": [
            [
                "e8aaf5b5.b508f8"
            ]
        ]
    },
    {
        "id": "6dc10e16.cfd16",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Is Requested",
        "func": "\nif(msg.payload.hasOwnProperty('requested')){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "c71cebbe.63c1b8",
                "4b085c59.6de7c4"
            ]
        ]
    },
    {
        "id": "52653c0.46dc9c4",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Is A New State Being Requested ",
        "info": "",
        "x": 450,
        "y": 960,
        "wires": []
    },
    {
        "id": "8533d17.88f783",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Change Pi State To Ready",
        "info": "",
        "x": 890,
        "y": 880,
        "wires": []
    },
    {
        "id": "1825e79f.661598",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Execute Pi State",
        "info": "",
        "x": 880,
        "y": 980,
        "wires": []
    },
    {
        "id": "45f9af2b.667f7",
        "type": "link out",
        "z": "419fcee8.bcaf8",
        "name": "",
        "links": [
            "afef8f91.7d183",
            "8f8af3a0.8309e",
            "e7851623.a1b2"
        ],
        "x": 1175,
        "y": 380,
        "wires": []
    },
    {
        "id": "f2cf3d7a.135f9",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Pi State",
        "info": "",
        "x": 190,
        "y": 960,
        "wires": []
    },
    {
        "id": "f54bb1b7.7490d",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Pi State",
        "info": "",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "eee00e50.f003e",
        "type": "link in",
        "z": "419fcee8.bcaf8",
        "name": "Throttle",
        "links": [
            "ee6adabb.c08a78"
        ],
        "x": 195,
        "y": 1260,
        "wires": [
            [
                "46c22e9f.56267"
            ]
        ]
    },
    {
        "id": "84216d29.2ff43",
        "type": "mqtt out",
        "z": "419fcee8.bcaf8",
        "name": "/throttle",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "560ef120.86202",
        "x": 1140,
        "y": 1160,
        "wires": []
    },
    {
        "id": "46c22e9f.56267",
        "type": "json",
        "z": "419fcee8.bcaf8",
        "name": "Throttle Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 340,
        "y": 1260,
        "wires": [
            [
                "7eaa5497.696f6c"
            ]
        ]
    },
    {
        "id": "87480175.90b35",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Is New Throttle Percentage Being Requested ",
        "info": "",
        "x": 610,
        "y": 1220,
        "wires": []
    },
    {
        "id": "707081ab.5c8b6",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Throttle",
        "info": "",
        "x": 190,
        "y": 1220,
        "wires": []
    },
    {
        "id": "a7e8f772.9f6618",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Execute Throttle",
        "info": "Outputs all channels throttle",
        "x": 1660,
        "y": 1180,
        "wires": []
    },
    {
        "id": "fcebc68e.080eb8",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Retain New Throttle Percent",
        "info": "",
        "x": 1140,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ee6adabb.c08a78",
        "type": "link out",
        "z": "419fcee8.bcaf8",
        "name": "",
        "links": [
            "eee00e50.f003e"
        ],
        "x": 1475,
        "y": 480,
        "wires": []
    },
    {
        "id": "122db1b6.c6f67e",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Throttle",
        "info": "",
        "x": 1470,
        "y": 440,
        "wires": []
    },
    {
        "id": "ca8b9c54.9dd5a",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Topic Wildcards",
        "func": "let topicParts = msg.topic.split(\"/\");\n\nmsg.wildcards = {\n    uuid : topicParts[0]\n};\n\nconsole.log(\"UUID\");\nconsole.log(msg.wildcards);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "45f9af2b.667f7"
            ]
        ]
    },
    {
        "id": "8cb02b51.b40478",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Topic Wildcards",
        "func": "let topicParts = msg.topic.split(\"/\");\n\nmsg.wildcards = {\n    uuid : topicParts[0],\n    channel : topicParts[2]\n};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1320,
        "y": 480,
        "wires": [
            [
                "ee6adabb.c08a78",
                "95c1c3a6.cdc7d"
            ]
        ]
    },
    {
        "id": "ad9e9061.bfe6",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Topic Wildcards",
        "func": "let topicParts = msg.topic.split(\"/\");\n\nmsg.wildcards = {\n    uuid : topicParts[0],\n    channel : topicParts[2],\n    resourceId : topicParts[3]\n};\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680,
        "y": 600,
        "wires": [
            [
                "9da08ab7.1092d8"
            ]
        ]
    },
    {
        "id": "827c78c5.c89678",
        "type": "link in",
        "z": "419fcee8.bcaf8",
        "name": "Resource",
        "links": [
            "9da08ab7.1092d8"
        ],
        "x": 195,
        "y": 1620,
        "wires": [
            [
                "81d2be96.ccfba"
            ]
        ]
    },
    {
        "id": "907be082.55311",
        "type": "mqtt out",
        "z": "419fcee8.bcaf8",
        "name": "/{resourceId}/state",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "560ef120.86202",
        "x": 1070,
        "y": 1500,
        "wires": []
    },
    {
        "id": "fd3e91e4.54852",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Resource State Busy",
        "func": "msg.payload.state = \"busy\";\n\nmsg.retain = true;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1500,
        "wires": [
            [
                "907be082.55311"
            ]
        ]
    },
    {
        "id": "eed07503.778128",
        "type": "switch",
        "z": "419fcee8.bcaf8",
        "name": "Is Requested State",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "requested",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 1620,
        "wires": [
            [
                "fd3e91e4.54852",
                "e7572f52.c9a08",
                "f34be36c.fd41b"
            ]
        ]
    },
    {
        "id": "43c3fc8d.cb6094",
        "type": "exec",
        "z": "419fcee8.bcaf8",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Resource State",
        "x": 2100,
        "y": 1620,
        "wires": [
            [
                "1c6b023a.cb9eae"
            ],
            [],
            []
        ]
    },
    {
        "id": "48e7bd20.42dd44",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Resource State Ready",
        "func": "msg.payload = {\n    state : \"ready\"\n};\n\nmsg.retain = true;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2640,
        "y": 1560,
        "wires": [
            [
                "2716b6f9.6b2cda"
            ]
        ]
    },
    {
        "id": "e7572f52.c9a08",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Target Channel Event",
        "func": "\nlet uuid = msg.wildcards.uuid;\nlet channelTarget = msg.payload.target;\n\nmsg.topic = `${uuid}/control/${channelTarget}/event`\nmsg.payload = {\n    resourceId : msg.wildcards.resourceId,\n}\nmsg.retain = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1740,
        "wires": [
            [
                "b4378068.30a6f"
            ]
        ]
    },
    {
        "id": "b4378068.30a6f",
        "type": "mqtt out",
        "z": "419fcee8.bcaf8",
        "name": "{channel}/event",
        "topic": "",
        "qos": "",
        "retain": "false",
        "broker": "560ef120.86202",
        "x": 1040,
        "y": 1740,
        "wires": []
    },
    {
        "id": "b9a4df4a.fa647",
        "type": "file in",
        "z": "419fcee8.bcaf8",
        "name": "Resources File",
        "filename": "/home/pi/Documents/pi_scalextric/pi_scalextric_mqtt/mqtt/src/resources.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1200,
        "y": 1620,
        "wires": [
            [
                "8fdaae9e.d0987"
            ]
        ]
    },
    {
        "id": "8fdaae9e.d0987",
        "type": "json",
        "z": "419fcee8.bcaf8",
        "name": "Resources Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1390,
        "y": 1620,
        "wires": [
            [
                "1e2715e9.5130fa"
            ]
        ]
    },
    {
        "id": "e8ac2121.34ed1",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Get Resource Script Path",
        "func": "let resourceId = msg.wildcards.resourceId;\nlet resources = msg.payload;\n\nlet resourcesPath = msg.config.paths.resources;\n\nfor(let i=0;i<resources.length;i++){\n    if(resources[i].id == resourceId){\n        msg.payload = `python ${resourcesPath}/${resources[i].name}.py`;\n        break;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1870,
        "y": 1620,
        "wires": [
            [
                "43c3fc8d.cb6094"
            ]
        ]
    },
    {
        "id": "2716b6f9.6b2cda",
        "type": "mqtt out",
        "z": "419fcee8.bcaf8",
        "name": "/{resourceId}/state",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "560ef120.86202",
        "x": 2890,
        "y": 1560,
        "wires": []
    },
    {
        "id": "81d2be96.ccfba",
        "type": "json",
        "z": "419fcee8.bcaf8",
        "name": "Resource Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 1620,
        "wires": [
            [
                "eed07503.778128"
            ]
        ]
    },
    {
        "id": "a6495f73.7e835",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Resource",
        "info": "",
        "x": 200,
        "y": 1580,
        "wires": []
    },
    {
        "id": "bd77bc5b.7c131",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Is A Resource Being Deployed",
        "info": "",
        "x": 440,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e1738d9d.90be4",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Change Resource State To Busy",
        "info": "",
        "x": 930,
        "y": 1460,
        "wires": []
    },
    {
        "id": "7000c97a.041038",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Inform Targeted Channel of Deployed Resource",
        "info": "",
        "x": 940,
        "y": 1700,
        "wires": []
    },
    {
        "id": "f2d8f4c7.71ac18",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Retrieve Resource Script ",
        "info": "",
        "x": 1450,
        "y": 1580,
        "wires": []
    },
    {
        "id": "621031bf.84db7",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Execute Deployed Resource",
        "info": "",
        "x": 2040,
        "y": 1560,
        "wires": []
    },
    {
        "id": "9c64a514.a1d5d8",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Change Resource State To Ready",
        "info": "",
        "x": 2680,
        "y": 1520,
        "wires": []
    },
    {
        "id": "9da08ab7.1092d8",
        "type": "link out",
        "z": "419fcee8.bcaf8",
        "name": "Resource",
        "links": [
            "827c78c5.c89678"
        ],
        "x": 1815,
        "y": 600,
        "wires": []
    },
    {
        "id": "fcb9c7f9.5726c8",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Resource",
        "info": "",
        "x": 1820,
        "y": 560,
        "wires": []
    },
    {
        "id": "1547da8c.d9f885",
        "type": "file in",
        "z": "419fcee8.bcaf8",
        "name": "Sensors File",
        "filename": "/home/pi/Documents/projects/pi_scalextric/pi_scalextric_mqtt/mqtt/src/sensors.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 190,
        "y": 1980,
        "wires": [
            [
                "8bea225.61833e"
            ]
        ]
    },
    {
        "id": "8bea225.61833e",
        "type": "json",
        "z": "419fcee8.bcaf8",
        "name": "Sensors Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 1980,
        "wires": [
            [
                "b476b15.73bdd5"
            ]
        ]
    },
    {
        "id": "a236c39.337c14",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Retrieve Sensors",
        "info": "",
        "x": 300,
        "y": 1940,
        "wires": []
    },
    {
        "id": "b476b15.73bdd5",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "/sensors",
        "func": "\nmsg.topic = msg.config.uuid+\"/sensors\";\nconsole.log(\"uuid: \" + msg.config.uuid);\nconsole.log(\"topic: \" + msg.topic);\nmsg.retain = true;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1980,
        "wires": [
            [
                "1bccb667.9174da",
                "378c20a5.f2d53",
                "5e0db0fd.af885"
            ]
        ]
    },
    {
        "id": "1bccb667.9174da",
        "type": "mqtt out",
        "z": "419fcee8.bcaf8",
        "name": "/sensors",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "560ef120.86202",
        "x": 820,
        "y": 1980,
        "wires": []
    },
    {
        "id": "3548502d.667db",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "/{UUID}",
        "func": "msg.topic = msg.config.uuid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "76ff4f5f.517e3"
            ]
        ]
    },
    {
        "id": "1561d9fa.413ab6",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Publish Sensor Config Data",
        "info": "",
        "x": 700,
        "y": 1940,
        "wires": []
    },
    {
        "id": "378c20a5.f2d53",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Set Default Trigger Percentages",
        "func": "let triggerPercentMsgs = [];\n\nmsg.payload.forEach(function(sensor){\n    let message = {\n        topic : `${msg.config.uuid}/sensors/${sensor.id}/trigger_percent`,\n        payload : sensor.default_trigger,\n        retain : true\n    }\n    \n    triggerPercentMsgs.push(message);\n})\n\n\n\n\nreturn [triggerPercentMsgs];",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 2100,
        "wires": [
            [
                "65d85284.ff25cc"
            ]
        ]
    },
    {
        "id": "65d85284.ff25cc",
        "type": "mqtt out",
        "z": "419fcee8.bcaf8",
        "name": "/sensors/{sensorId}/trigger_percent",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "560ef120.86202",
        "x": 1300,
        "y": 2100,
        "wires": []
    },
    {
        "id": "e30ae2ab.7c086",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Publish Sensor Default Trigger Percents",
        "info": "",
        "x": 1190,
        "y": 2060,
        "wires": []
    },
    {
        "id": "2658d22b.8ba91e",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "TODO WHEN RESOURCE FAILS",
        "info": "",
        "x": 2350,
        "y": 1640,
        "wires": []
    },
    {
        "id": "ff418fdb.cef57",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Sensor Details",
        "func": "let brokerDetails = msg.config.broker;\n\nlet sensorsPath = msg.config.paths.sensors;\n\nlet uuid = msg.config.uuid;\n\nlet command = `python ${sensorsPath} ${uuid} ${brokerDetails.host} ${brokerDetails.port} `\n\nif(brokerDetails.username || brokerDetails.username !== \"None\"){\n    command += ` --username ${brokerDetails.username}`;\n}\n\nif(brokerDetails.password || brokerDetails.password !== \"None\"){\n    command += ` --password ${brokerDetails.password}`;\n}\n\nmsg.payload = command\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 2060,
        "wires": [
            [
                "47a55b26.4ec744"
            ]
        ]
    },
    {
        "id": "47a55b26.4ec744",
        "type": "exec",
        "z": "419fcee8.bcaf8",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Start Sensors",
        "x": 380,
        "y": 2060,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7dcc327e.0d1a0c",
        "type": "file in",
        "z": "c3d05a31.035eb8",
        "name": "config.json",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "b4da0fed.ea562"
            ]
        ]
    },
    {
        "id": "38159c09.2260a4",
        "type": "comment",
        "z": "c3d05a31.035eb8",
        "name": "Retireves the contents of the config file",
        "info": "",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "178ef70f.d3aa89",
        "type": "inject",
        "z": "419fcee8.bcaf8",
        "name": "onStart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "6a866bec.29a144"
            ]
        ]
    },
    {
        "id": "6a866bec.29a144",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Set Global Context",
        "func": "global.set(\"configPath\",\"/home/pi/Documents/projects/pi_scalextric/pi_scalextric_mqtt/mqtt/src/config.json\");\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "ebf4f12f.0bcef"
            ]
        ]
    },
    {
        "id": "ebf4f12f.0bcef",
        "type": "subflow:c3d05a31.035eb8",
        "z": "419fcee8.bcaf8",
        "name": "",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "3449a4ea.9e34fc"
            ]
        ]
    },
    {
        "id": "3449a4ea.9e34fc",
        "type": "link out",
        "z": "419fcee8.bcaf8",
        "name": "",
        "links": [
            "cf79bbb7.c70528",
            "a0ae0741.5d5328"
        ],
        "x": 675,
        "y": 180,
        "wires": []
    },
    {
        "id": "1e2715e9.5130fa",
        "type": "subflow:c3d05a31.035eb8",
        "z": "419fcee8.bcaf8",
        "name": "",
        "x": 1650,
        "y": 1620,
        "wires": [
            [
                "e8ac2121.34ed1"
            ]
        ]
    },
    {
        "id": "d7224047.db04d",
        "type": "function",
        "z": "c3d05a31.035eb8",
        "name": "Global Config File Path",
        "func": "configPath = global.get(\"configPath\");\n\nmsg.filename = configPath;\nmsg.storedPayload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "7dcc327e.0d1a0c"
            ]
        ]
    },
    {
        "id": "7eaa5497.696f6c",
        "type": "subflow:c3d05a31.035eb8",
        "z": "419fcee8.bcaf8",
        "name": "",
        "x": 530,
        "y": 1260,
        "wires": [
            [
                "e9fa3f86.8c64b"
            ]
        ]
    },
    {
        "id": "e9fa3f86.8c64b",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Throttle Set",
        "func": "if(msg.payload.hasOwnProperty('set')){\n    return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1260,
        "wires": [
            [
                "5d57e9ac.b1a858"
            ]
        ]
    },
    {
        "id": "dc3d33d.4c9ecd",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Read Config File",
        "info": "",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "264993f9.48f17c",
        "type": "comment",
        "z": "419fcee8.bcaf8",
        "name": "Connects to Subscribers",
        "info": "",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "114d4c14.97a1d4",
        "type": "comment",
        "z": "c3d05a31.035eb8",
        "name": "Stores Config Without Changing the Payload",
        "info": "",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "91eb0d44.a375",
        "type": "function",
        "z": "c3d05a31.035eb8",
        "name": "Store Config",
        "func": "msg.config = msg.payload;\nmsg.payload = msg.storedPayload;\n\ndelete msg.storedPayload;\nflow.set(\"config\",msg.config);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9205a219.09e1b",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "/event",
        "func": "msg.topic = msg.topic+\"/event\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 680,
        "wires": [
            [
                "a6d0196e.827408"
            ]
        ]
    },
    {
        "id": "a6d0196e.827408",
        "type": "mqtt-dynamic in",
        "z": "419fcee8.bcaf8",
        "name": "{UUID}/control/{channel}/event",
        "broker": "8f2e5985.11b078",
        "x": 1110,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "cc094578.484f48",
        "type": "rpi-gpio out",
        "z": "419fcee8.bcaf8",
        "name": "",
        "pin": "26",
        "set": "",
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "x": 1660,
        "y": 1220,
        "wires": []
    },
    {
        "id": "40dc3a4c.3fdf14",
        "type": "switch",
        "z": "419fcee8.bcaf8",
        "name": "Which Channel",
        "property": "wildcards.channel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1460,
        "y": 1260,
        "wires": [
            [
                "cc094578.484f48"
            ],
            [
                "e52a00fc.6a7ec"
            ]
        ]
    },
    {
        "id": "2a372e9.08f12d2",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "5% Throttle",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 410,
        "y": 980,
        "wires": [
            [
                "1f358761.8c87c9"
            ]
        ]
    },
    {
        "id": "9c91f644.26e288",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "30% Throttle",
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 413,
        "y": 1041,
        "wires": [
            [
                "1f358761.8c87c9"
            ]
        ]
    },
    {
        "id": "b72fd343.23eab",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "50% Throttle",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 415,
        "y": 1097,
        "wires": [
            [
                "1f358761.8c87c9"
            ]
        ]
    },
    {
        "id": "6b08ac69.17c354",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "100% Throttle",
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 413,
        "y": 1155,
        "wires": [
            [
                "1f358761.8c87c9"
            ]
        ]
    },
    {
        "id": "1f358761.8c87c9",
        "type": "function",
        "z": "e4ab657e.85d518",
        "name": "",
        "func": "let percent = msg.payload\nlet message = {\n    topic: \"testUUID/control/0/throttle\",\n    payload: {\n        set : percent\n    }\n};\nreturn message;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1020,
        "wires": [
            [
                "e2cee36.25ee12"
            ]
        ]
    },
    {
        "id": "2e052f11.8123b",
        "type": "inject",
        "z": "e4ab657e.85d518",
        "name": "0% Throttle",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 410,
        "y": 920,
        "wires": [
            [
                "1f358761.8c87c9"
            ]
        ]
    },
    {
        "id": "5d57e9ac.b1a858",
        "type": "change",
        "z": "419fcee8.bcaf8",
        "name": "Get Throttle Percent",
        "rules": [
            {
                "t": "move",
                "p": "payload.set",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "84216d29.2ff43",
                "f3963705.c47358"
            ]
        ]
    },
    {
        "id": "f34be36c.fd41b",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Lock Throttle Changes",
        "func": "flow.set(`channel_${msg.payload.target}_lock`,true);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 1620,
        "wires": [
            [
                "b2a2d9a8.7a08d8"
            ]
        ]
    },
    {
        "id": "b2a2d9a8.7a08d8",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Store Target",
        "func": "msg.target = msg.payload.target;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1620,
        "wires": [
            [
                "b9a4df4a.fa647"
            ]
        ]
    },
    {
        "id": "1c6b023a.cb9eae",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Un-Lock Throttle Changes",
        "func": "flow.set(`channel_${msg.target}_lock`,false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2380,
        "y": 1560,
        "wires": [
            [
                "48e7bd20.42dd44"
            ]
        ]
    },
    {
        "id": "f3963705.c47358",
        "type": "function",
        "z": "419fcee8.bcaf8",
        "name": "Is Un-Locked",
        "func": "let lock = flow.get(`channel_${msg.wildcards.channel}_lock`);\nnode.log(lock);\nif(!lock){\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1260,
        "wires": [
            [
                "40dc3a4c.3fdf14"
            ]
        ]
    },
    {
        "id": "a0ae0741.5d5328",
        "type": "link in",
        "z": "419fcee8.bcaf8",
        "name": "Init-Pi",
        "links": [
            "adc2fcbc.29e718",
            "a3987ddd.a47a88",
            "3449a4ea.9e34fc"
        ],
        "x": 60,
        "y": 1980,
        "wires": [
            [
                "1547da8c.d9f885",
                "ff418fdb.cef57"
            ]
        ]
    },
    {
        "id": "f5daff2d.0decf",
        "type": "mqtt in",
        "z": "419fcee8.bcaf8",
        "name": "",
        "topic": "testUUID/sensors/0",
        "qos": "2",
        "broker": "14a41ecb.f24271",
        "x": 290,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b4da0fed.ea562",
        "type": "json",
        "z": "c3d05a31.035eb8",
        "name": "Config Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 840,
        "y": 240,
        "wires": [
            [
                "91eb0d44.a375"
            ]
        ]
    },
    {
        "id": "5e0db0fd.af885",
        "type": "debug",
        "z": "419fcee8.bcaf8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 870,
        "y": 1840,
        "wires": []
    },
    {
        "id": "95c1c3a6.cdc7d",
        "type": "debug",
        "z": "419fcee8.bcaf8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1550,
        "y": 720,
        "wires": []
    },
    {
        "id": "e52a00fc.6a7ec",
        "type": "rpi-gpio out",
        "z": "419fcee8.bcaf8",
        "name": "",
        "pin": "12",
        "set": "",
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "x": 1670,
        "y": 1320,
        "wires": []
    }
]