node_red_flow/mqtt_flow.json
[
    {
        "id": "bc209038.1c28a",
        "type": "tab",
        "label": "Mqtt Subscribe",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f025c8ec.ac19b8",
        "type": "subflow",
        "name": "Config Folder",
        "info": "A block that reads in a config file and coverts\nit to a JSON object.\n\nTo specify where the config files are, configPath\nparameter within the global context needs to be set specifing the absolute path to the config folder.\n\nSet the msg.payload to specify which config file to read.\n\nExample : \"config.json\" ===>\n        reads in the config.json file",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 240,
                "wires": [
                    {
                        "id": "81d0fff6.53107"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1200,
                "y": 240,
                "wires": [
                    {
                        "id": "de8c3397.5a09a",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "c37a5dc0.671c2",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "898da776.ef2948",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "cc6be598.67d638",
        "type": "mqtt-dynamic-broker",
        "z": "",
        "broker": "wss://thedigitallabsmqtt.herokuapp.com:443",
        "clientid": ""
    },
    {
        "id": "150850c1.db4c8f",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "837693a5.f8a4f",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt out on websockets",
        "broker": "wss://thedigitallabsmqtt.herokuapp.com",
        "port": "443",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c44476.a99e5b8",
        "type": "comment",
        "z": "f025c8ec.ac19b8",
        "name": "Retireves the contents of the config file",
        "info": "",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "81d0fff6.53107",
        "type": "function",
        "z": "f025c8ec.ac19b8",
        "name": "Global Config File Path",
        "func": "configPath = global.get(\"configPath\");\n\nmsg.filename = configPath + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "94c08c26.14288"
            ]
        ]
    },
    {
        "id": "94c08c26.14288",
        "type": "file in",
        "z": "f025c8ec.ac19b8",
        "name": "Json File",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 700,
        "y": 240,
        "wires": [
            [
                "de8c3397.5a09a"
            ]
        ]
    },
    {
        "id": "de8c3397.5a09a",
        "type": "json",
        "z": "f025c8ec.ac19b8",
        "name": "Config Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 900,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7093b829.d55358",
        "type": "mqtt-dynamic in",
        "z": "bc209038.1c28a",
        "name": "{UUID}/control/pi_state",
        "broker": "cc6be598.67d638",
        "x": 800,
        "y": 380,
        "wires": [
            [
                "22e55fd5.5bb66"
            ]
        ]
    },
    {
        "id": "92e2bf06.484d7",
        "type": "mqtt-dynamic in",
        "z": "bc209038.1c28a",
        "name": "{UUID}/control/{channel}/throttle",
        "broker": "cc6be598.67d638",
        "x": 1090,
        "y": 480,
        "wires": [
            [
                "92b865fd.8fa598"
            ]
        ]
    },
    {
        "id": "d06d8664.697318",
        "type": "mqtt-dynamic in",
        "z": "bc209038.1c28a",
        "name": "{UUID}/control/{channel}/{resourceId}/state",
        "broker": "cc6be598.67d638",
        "x": 1390,
        "y": 600,
        "wires": [
            [
                "e6e444ad.8b68c8"
            ]
        ]
    },
    {
        "id": "477cc40c.a03b6c",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "The State of the Pi",
        "info": "Allows the Pi to move to another state (such as play to debug)\n\nThe Pi state can only be:\n\n- ready : {state}\n- requested : {target_state}\n- busy : {target_state}",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "dac4809b.d04e5",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Throttle Percentage for a Channel",
        "info": "Sets the throttle percentage for a specific channel (car)",
        "x": 1100,
        "y": 440,
        "wires": []
    },
    {
        "id": "4c3651a3.d0816",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "The State of the Resource",
        "info": "SPWA can request to set the state of \nthe resource to requested.\n\n",
        "x": 1390,
        "y": 560,
        "wires": []
    },
    {
        "id": "a13e966f.f6d9d8",
        "type": "link in",
        "z": "bc209038.1c28a",
        "name": "Control-Subscribe",
        "links": [
            "a3987ddd.a47a88",
            "3fa91169.09ec7e"
        ],
        "x": 75,
        "y": 380,
        "wires": [
            [
                "61e2dc1e.da8c54"
            ]
        ]
    },
    {
        "id": "db8a2c6d.29afe",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "/control",
        "func": "msg.topic = msg.topic+\"/control\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "5485c85d.0e1898",
                "b606e072.5c80c"
            ]
        ]
    },
    {
        "id": "5485c85d.0e1898",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "/pi_state",
        "func": "msg.topic = msg.topic+\"/pi_state\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "7093b829.d55358"
            ]
        ]
    },
    {
        "id": "b606e072.5c80c",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "/{channel}",
        "func": "msg.topic = msg.topic+\"/+\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "7ec15939.053f98",
                "cc8cb808.ca3db8",
                "443daba0.98a8e4"
            ]
        ]
    },
    {
        "id": "7ec15939.053f98",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "/throttle",
        "func": "msg.topic = msg.topic+\"/throttle\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "92e2bf06.484d7"
            ]
        ]
    },
    {
        "id": "cc8cb808.ca3db8",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "/{resource_id}",
        "func": "msg.topic = msg.topic+\"/+\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 600,
        "wires": [
            [
                "3fcf031b.c5a76c"
            ]
        ]
    },
    {
        "id": "3fcf031b.c5a76c",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "/state",
        "func": "msg.topic = msg.topic+\"/state\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 600,
        "wires": [
            [
                "d06d8664.697318"
            ]
        ]
    },
    {
        "id": "2c4c53be.f2d5ac",
        "type": "link in",
        "z": "bc209038.1c28a",
        "name": "Pi_State",
        "links": [
            "6757af08.647"
        ],
        "x": 195,
        "y": 1000,
        "wires": [
            [
                "75b5e2cc.f7c15c"
            ]
        ]
    },
    {
        "id": "75b5e2cc.f7c15c",
        "type": "json",
        "z": "bc209038.1c28a",
        "name": "Request Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "789a40e8.b27a7"
            ]
        ]
    },
    {
        "id": "96c06f9e.dd23a",
        "type": "switch",
        "z": "bc209038.1c28a",
        "name": "Pi State",
        "property": "payload.requested",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "debug",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "1120bc5.cedc044",
        "type": "mqtt out",
        "z": "bc209038.1c28a",
        "name": "/pi_state",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "837693a5.f8a4f",
        "x": 1020,
        "y": 920,
        "wires": []
    },
    {
        "id": "d9dc735.923339",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Pi state Ready",
        "func": "msg.payload = {\n    ready: msg.payload.requested\n};\n\nmsg.retain = true;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 920,
        "wires": [
            [
                "1120bc5.cedc044"
            ]
        ]
    },
    {
        "id": "789a40e8.b27a7",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Is Requested",
        "func": "\nif(msg.payload.hasOwnProperty('requested')){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "96c06f9e.dd23a",
                "d9dc735.923339"
            ]
        ]
    },
    {
        "id": "9f7907d5.5dfc18",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Is A New State Being Requested ",
        "info": "",
        "x": 450,
        "y": 960,
        "wires": []
    },
    {
        "id": "d90b1e7d.f74a",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Change Pi State To Ready",
        "info": "",
        "x": 890,
        "y": 880,
        "wires": []
    },
    {
        "id": "3db920f8.587b8",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Execute Pi State",
        "info": "",
        "x": 880,
        "y": 980,
        "wires": []
    },
    {
        "id": "6757af08.647",
        "type": "link out",
        "z": "bc209038.1c28a",
        "name": "",
        "links": [
            "2c4c53be.f2d5ac",
            "8f8af3a0.8309e",
            "e7851623.a1b2"
        ],
        "x": 1175,
        "y": 380,
        "wires": []
    },
    {
        "id": "fbc4c942.5912e8",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Pi State",
        "info": "",
        "x": 190,
        "y": 960,
        "wires": []
    },
    {
        "id": "4d2835a4.2912ec",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Pi State",
        "info": "",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "8f22f674.0d80e8",
        "type": "link in",
        "z": "bc209038.1c28a",
        "name": "Throttle",
        "links": [
            "8616557f.5ccec8"
        ],
        "x": 195,
        "y": 1260,
        "wires": [
            [
                "89d8ae4b.93af"
            ]
        ]
    },
    {
        "id": "2374cdc3.d96992",
        "type": "mqtt out",
        "z": "bc209038.1c28a",
        "name": "/throttle",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "837693a5.f8a4f",
        "x": 1140,
        "y": 1160,
        "wires": []
    },
    {
        "id": "89d8ae4b.93af",
        "type": "json",
        "z": "bc209038.1c28a",
        "name": "Throttle Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 340,
        "y": 1260,
        "wires": [
            [
                "d342d023.daf2e"
            ]
        ]
    },
    {
        "id": "f7d6b0ba.fd35d",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Is New Throttle Percentage Being Requested ",
        "info": "",
        "x": 610,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3ee84082.8dda5",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Throttle",
        "info": "",
        "x": 190,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6b2bd144.bf6",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Execute Throttle",
        "info": "Outputs all channels throttle",
        "x": 1680,
        "y": 1120,
        "wires": []
    },
    {
        "id": "524cea0f.cc5574",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Retain New Throttle Percent",
        "info": "",
        "x": 1140,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8616557f.5ccec8",
        "type": "link out",
        "z": "bc209038.1c28a",
        "name": "",
        "links": [
            "8f22f674.0d80e8"
        ],
        "x": 1475,
        "y": 480,
        "wires": []
    },
    {
        "id": "4ecc2335.df206c",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Throttle",
        "info": "",
        "x": 1470,
        "y": 440,
        "wires": []
    },
    {
        "id": "22e55fd5.5bb66",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Topic Wildcards",
        "func": "let topicParts = msg.topic.split(\"/\");\n\nmsg.wildcards = {\n    uuid : topicParts[0]\n};\n\nconsole.log(\"UUID\");\nconsole.log(msg.wildcards);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "6757af08.647"
            ]
        ]
    },
    {
        "id": "92b865fd.8fa598",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Topic Wildcards",
        "func": "let topicParts = msg.topic.split(\"/\");\n\nmsg.wildcards = {\n    uuid : topicParts[0],\n    channel : topicParts[2]\n};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1320,
        "y": 480,
        "wires": [
            [
                "8616557f.5ccec8"
            ]
        ]
    },
    {
        "id": "e6e444ad.8b68c8",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Topic Wildcards",
        "func": "let topicParts = msg.topic.split(\"/\");\n\nmsg.wildcards = {\n    uuid : topicParts[0],\n    channel : topicParts[2],\n    resourceId : topicParts[3]\n};\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680,
        "y": 600,
        "wires": [
            [
                "c6977731.5d5fa8"
            ]
        ]
    },
    {
        "id": "8cb17ed0.f207c",
        "type": "link in",
        "z": "bc209038.1c28a",
        "name": "Resource",
        "links": [
            "c6977731.5d5fa8"
        ],
        "x": 195,
        "y": 1620,
        "wires": [
            [
                "b70ca0d5.13ca5"
            ]
        ]
    },
    {
        "id": "e14e8832.8da478",
        "type": "mqtt out",
        "z": "bc209038.1c28a",
        "name": "/{resourceId}/state",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "837693a5.f8a4f",
        "x": 1070,
        "y": 1500,
        "wires": []
    },
    {
        "id": "d9bcbd68.ad3dd",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Resource State Busy",
        "func": "msg.payload.state = \"busy\";\n\nmsg.retain = true;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1500,
        "wires": [
            [
                "e14e8832.8da478"
            ]
        ]
    },
    {
        "id": "b2c03f14.b16bc",
        "type": "switch",
        "z": "bc209038.1c28a",
        "name": "Is Requested State",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "requested",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 1620,
        "wires": [
            [
                "d9bcbd68.ad3dd",
                "1041f095.67bf5f",
                "8c33b5c.79a9148"
            ]
        ]
    },
    {
        "id": "a72e0c3.123b6f",
        "type": "exec",
        "z": "bc209038.1c28a",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Resource State",
        "x": 2440,
        "y": 1620,
        "wires": [
            [
                "366d9b01.9e4714"
            ],
            [],
            []
        ]
    },
    {
        "id": "500f3dd2.2b6d74",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Resource State Ready",
        "func": "msg.payload = {\n    state : \"ready\"\n};\n\nmsg.retain = true;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2980,
        "y": 1560,
        "wires": [
            [
                "8e3fed27.63ff3"
            ]
        ]
    },
    {
        "id": "1041f095.67bf5f",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Target Channel Event",
        "func": "\nlet uuid = msg.wildcards.uuid;\nlet channelTarget = msg.payload.target;\n\nmsg.topic = `${uuid}/control/${channelTarget}/event`\nmsg.payload = {\n    resourceId : msg.wildcards.resourceId,\n}\nmsg.retain = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1740,
        "wires": [
            [
                "4e10b41d.6ea23c"
            ]
        ]
    },
    {
        "id": "4e10b41d.6ea23c",
        "type": "mqtt out",
        "z": "bc209038.1c28a",
        "name": "{channel}/event",
        "topic": "",
        "qos": "",
        "retain": "false",
        "broker": "837693a5.f8a4f",
        "x": 1040,
        "y": 1740,
        "wires": []
    },
    {
        "id": "5356481a.baf108",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Get Resource Script Path",
        "func": "let resourceId = msg.wildcards.resourceId;\nlet resources = msg.resources;\n\nlet resourcesPath = msg.payload.paths.resources;\n\nlet channel\n\nif(msg.target == 0){\n    channel = 18;\n}else if(msg.target == 1){\n    channel = 17;\n}\n\nfor(let i=0;i<resources.length;i++){\n    if(resources[i].id == resourceId && resources[i].systemResource == \"throttle\"){\n        console.log(\"Resource: \" + resources[i].name);\n        msg.payload = `python3 ${resourcesPath}${resources[i].name}.py ${channel} `;\n        break;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2210,
        "y": 1620,
        "wires": [
            [
                "a72e0c3.123b6f",
                "69f3fbdf.635064"
            ]
        ]
    },
    {
        "id": "8e3fed27.63ff3",
        "type": "mqtt out",
        "z": "bc209038.1c28a",
        "name": "/{resourceId}/state",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "837693a5.f8a4f",
        "x": 3230,
        "y": 1560,
        "wires": []
    },
    {
        "id": "b70ca0d5.13ca5",
        "type": "json",
        "z": "bc209038.1c28a",
        "name": "Resource Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 1620,
        "wires": [
            [
                "b2c03f14.b16bc"
            ]
        ]
    },
    {
        "id": "29626021.79006",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Resource",
        "info": "",
        "x": 200,
        "y": 1580,
        "wires": []
    },
    {
        "id": "5af0ab89.e157d4",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Is A Resource Being Deployed",
        "info": "",
        "x": 440,
        "y": 1580,
        "wires": []
    },
    {
        "id": "a816afb7.60a4d",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Change Resource State To Busy",
        "info": "",
        "x": 930,
        "y": 1460,
        "wires": []
    },
    {
        "id": "9b6048d3.710b18",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Inform Targeted Channel of Deployed Resource",
        "info": "",
        "x": 940,
        "y": 1700,
        "wires": []
    },
    {
        "id": "cc4821fe.b175e",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Retrieve Resource Script ",
        "info": "",
        "x": 1450,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1c530e97.da4521",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Execute Deployed Resource",
        "info": "",
        "x": 2380,
        "y": 1560,
        "wires": []
    },
    {
        "id": "4255ad25.5b7ed4",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Change Resource State To Ready",
        "info": "",
        "x": 3020,
        "y": 1520,
        "wires": []
    },
    {
        "id": "c6977731.5d5fa8",
        "type": "link out",
        "z": "bc209038.1c28a",
        "name": "Resource",
        "links": [
            "8cb17ed0.f207c"
        ],
        "x": 1815,
        "y": 600,
        "wires": []
    },
    {
        "id": "949df621.2a3ec8",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Resource",
        "info": "",
        "x": 1820,
        "y": 560,
        "wires": []
    },
    {
        "id": "ef86cf7b.2947c",
        "type": "json",
        "z": "bc209038.1c28a",
        "name": "Sensors Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 540,
        "y": 1980,
        "wires": [
            [
                "efdcc7aa.5f18b8"
            ]
        ]
    },
    {
        "id": "d57d6f5c.f759f",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Retrieve Sensors",
        "info": "",
        "x": 440,
        "y": 1940,
        "wires": []
    },
    {
        "id": "efdcc7aa.5f18b8",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "/sensors",
        "func": "\nmsg.topic = msg.config.uuid+\"/sensors\";\nconsole.log(\"uuid: \" + msg.config.uuid);\nconsole.log(\"topic: \" + msg.topic);\nmsg.retain = true;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 1980,
        "wires": [
            [
                "81201b77.823db8",
                "e524db2b.4bf838"
            ]
        ]
    },
    {
        "id": "81201b77.823db8",
        "type": "mqtt out",
        "z": "bc209038.1c28a",
        "name": "/sensors",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "837693a5.f8a4f",
        "x": 920,
        "y": 1980,
        "wires": []
    },
    {
        "id": "61e2dc1e.da8c54",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "/{UUID}",
        "func": "msg.topic = msg.config.uuid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "db8a2c6d.29afe"
            ]
        ]
    },
    {
        "id": "115eb1e4.26af2e",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Publish Sensor Config Data",
        "info": "",
        "x": 800,
        "y": 1940,
        "wires": []
    },
    {
        "id": "e524db2b.4bf838",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Set Default Trigger Percentages",
        "func": "let triggerPercentMsgs = [];\n\nmsg.payload.forEach(function(sensor){\n    let message = {\n        topic : `${msg.config.uuid}/sensors/${sensor.id}/trigger_percent`,\n        payload : sensor.default_trigger,\n        retain : true\n    }\n    \n    triggerPercentMsgs.push(message);\n})\n\n\n\n\nreturn [triggerPercentMsgs];",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 2100,
        "wires": [
            [
                "965330c4.bbece"
            ]
        ]
    },
    {
        "id": "965330c4.bbece",
        "type": "mqtt out",
        "z": "bc209038.1c28a",
        "name": "/sensors/{sensorId}/trigger_percent",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "837693a5.f8a4f",
        "x": 1400,
        "y": 2100,
        "wires": []
    },
    {
        "id": "264186ab.46682a",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Publish Sensor Default Trigger Percents",
        "info": "",
        "x": 1290,
        "y": 2060,
        "wires": []
    },
    {
        "id": "5f5b31df.34643",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "TODO WHEN RESOURCE FAILS",
        "info": "",
        "x": 2690,
        "y": 1640,
        "wires": []
    },
    {
        "id": "ebdc1d25.a1517",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Sensor Details",
        "func": "let brokerDetails = msg.config.broker;\n\nlet sensorsPath = msg.config.paths.sensors;\n\nlet uuid = msg.config.uuid;\n\nlet command = `python3 ${sensorsPath} ${uuid} ${brokerDetails.host} ${brokerDetails.port} `\n\nif(brokerDetails.username && brokerDetails.username !== \"None\"){\n    command += ` --username ${brokerDetails.username}`;\n}\n\nif(brokerDetails.password && brokerDetails.password !== \"None\"){\n    command += ` --password ${brokerDetails.password}`;\n}\n\n\nconsole.log(\"sensor connection command:\");\nconsole.log(command);\n\nmsg.payload = command\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 2060,
        "wires": [
            [
                "d079dcca.2cdab"
            ]
        ]
    },
    {
        "id": "d079dcca.2cdab",
        "type": "exec",
        "z": "bc209038.1c28a",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Start Sensors",
        "x": 480,
        "y": 2060,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e25c19b4.112f58",
        "type": "inject",
        "z": "bc209038.1c28a",
        "name": "onStart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "76b12489.b3408c"
            ]
        ]
    },
    {
        "id": "76b12489.b3408c",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Set Global Context",
        "func": "global.set(\"configPath\",\"/home/pi/Documents/github/pi_scalextric_mqtt/pi_scalextric_mqtt/mqtt/src/Config/\");\nmsg.payload = \"config.json\"\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "fd3cbad3.a65e48"
            ]
        ]
    },
    {
        "id": "fd3cbad3.a65e48",
        "type": "subflow:f025c8ec.ac19b8",
        "z": "bc209038.1c28a",
        "name": "",
        "env": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "db384041.b6ea4"
            ]
        ]
    },
    {
        "id": "3fa91169.09ec7e",
        "type": "link out",
        "z": "bc209038.1c28a",
        "name": "",
        "links": [
            "a13e966f.f6d9d8",
            "e4be42a9.4ded8",
            "396d8da0.562542"
        ],
        "x": 895,
        "y": 180,
        "wires": []
    },
    {
        "id": "d342d023.daf2e",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Throttle Set",
        "func": "if(msg.payload.hasOwnProperty('set')){\n    return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1260,
        "wires": [
            [
                "20a7e0b5.8768f"
            ]
        ]
    },
    {
        "id": "3d203fa4.59f11",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Read Config File",
        "info": "",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "b6f3a2b1.6b807",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Connects to Subscribers",
        "info": "",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "443daba0.98a8e4",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "/event",
        "func": "msg.topic = msg.topic+\"/event\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 680,
        "wires": [
            [
                "dd7eda5f.83d528"
            ]
        ]
    },
    {
        "id": "dd7eda5f.83d528",
        "type": "mqtt-dynamic in",
        "z": "bc209038.1c28a",
        "name": "{UUID}/control/{channel}/event",
        "broker": "cc6be598.67d638",
        "x": 1110,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ff566acc.2b58c8",
        "type": "rpi-gpio out",
        "z": "bc209038.1c28a",
        "name": "",
        "pin": "12",
        "set": "",
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "x": 1700,
        "y": 1220,
        "wires": []
    },
    {
        "id": "85a5bf4f.94982",
        "type": "switch",
        "z": "bc209038.1c28a",
        "name": "Which Channel",
        "property": "wildcards.channel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1460,
        "y": 1260,
        "wires": [
            [
                "ff566acc.2b58c8"
            ],
            [
                "894ac2e2.37e3a"
            ]
        ]
    },
    {
        "id": "20a7e0b5.8768f",
        "type": "change",
        "z": "bc209038.1c28a",
        "name": "Get Throttle Percent",
        "rules": [
            {
                "t": "move",
                "p": "payload.set",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "2374cdc3.d96992",
                "c0c7a491.1cee18"
            ]
        ]
    },
    {
        "id": "8c33b5c.79a9148",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Lock Throttle Changes",
        "func": "flow.set(`channel_${msg.payload.target}_lock`,true);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 1620,
        "wires": [
            [
                "bec4a12d.82194"
            ]
        ]
    },
    {
        "id": "bec4a12d.82194",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Store Target",
        "func": "msg.target = msg.payload.target;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1620,
        "wires": [
            [
                "e723aa4a.613ce8"
            ]
        ]
    },
    {
        "id": "366d9b01.9e4714",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Un-Lock Throttle Changes",
        "func": "flow.set(`channel_${msg.target}_lock`,false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2720,
        "y": 1560,
        "wires": [
            [
                "500f3dd2.2b6d74"
            ]
        ]
    },
    {
        "id": "c0c7a491.1cee18",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Is Un-Locked",
        "func": "let lock = flow.get(`channel_${msg.wildcards.channel}_lock`);\nnode.log(lock);\nif(!lock){\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1260,
        "wires": [
            [
                "85a5bf4f.94982"
            ]
        ]
    },
    {
        "id": "396d8da0.562542",
        "type": "link in",
        "z": "bc209038.1c28a",
        "name": "Init-Pi",
        "links": [
            "adc2fcbc.29e718",
            "a3987ddd.a47a88",
            "3fa91169.09ec7e"
        ],
        "x": 60,
        "y": 1980,
        "wires": [
            [
                "ebdc1d25.a1517",
                "69a30ff5.6910e"
            ]
        ]
    },
    {
        "id": "894ac2e2.37e3a",
        "type": "rpi-gpio out",
        "z": "bc209038.1c28a",
        "name": "",
        "pin": "11",
        "set": "",
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "x": 1670,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e4be42a9.4ded8",
        "type": "link in",
        "z": "bc209038.1c28a",
        "name": "Init-Pi",
        "links": [
            "3fa91169.09ec7e"
        ],
        "x": 75,
        "y": 2300,
        "wires": [
            [
                "f890ebe7.765868"
            ]
        ]
    },
    {
        "id": "1beddeed.16e2e1",
        "type": "json",
        "z": "bc209038.1c28a",
        "name": "Resources Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 2300,
        "wires": [
            [
                "41a6947e.d1af3c"
            ]
        ]
    },
    {
        "id": "6542df34.bd36d",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Retrieve Sensors",
        "info": "",
        "x": 400,
        "y": 2260,
        "wires": []
    },
    {
        "id": "41a6947e.d1af3c",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "/resources",
        "func": "\nmsg.topic = msg.config.uuid+\"/resources\";\nconsole.log(\"uuid: \" + msg.config.uuid);\nconsole.log(\"topic: \" + msg.topic);\nmsg.retain = true;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 2300,
        "wires": [
            [
                "e2ce978c.72cea8"
            ]
        ]
    },
    {
        "id": "e2ce978c.72cea8",
        "type": "mqtt out",
        "z": "bc209038.1c28a",
        "name": "/resources",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "837693a5.f8a4f",
        "x": 950,
        "y": 2300,
        "wires": []
    },
    {
        "id": "193fbb75.969255",
        "type": "comment",
        "z": "bc209038.1c28a",
        "name": "Publish Sensor Config Data",
        "info": "",
        "x": 840,
        "y": 2260,
        "wires": []
    },
    {
        "id": "db384041.b6ea4",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Set Payload To Config",
        "func": "msg.config = msg.payload;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "3fa91169.09ec7e"
            ]
        ]
    },
    {
        "id": "e723aa4a.613ce8",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Resources File",
        "func": "msg.payload= 'resources.json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 1620,
        "wires": [
            [
                "fca12f81.79164"
            ]
        ]
    },
    {
        "id": "fca12f81.79164",
        "type": "subflow:f025c8ec.ac19b8",
        "z": "bc209038.1c28a",
        "name": "",
        "x": 1390,
        "y": 1620,
        "wires": [
            [
                "a9780b66.4b8e98"
            ]
        ]
    },
    {
        "id": "a9780b66.4b8e98",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Store Resources",
        "func": "msg.resources = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 1620,
        "wires": [
            [
                "ce821f36.e7a"
            ]
        ]
    },
    {
        "id": "ce821f36.e7a",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Config File",
        "func": "msg.payload= 'config.json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1790,
        "y": 1620,
        "wires": [
            [
                "c6415143.b0ac6"
            ]
        ]
    },
    {
        "id": "c6415143.b0ac6",
        "type": "subflow:f025c8ec.ac19b8",
        "z": "bc209038.1c28a",
        "name": "",
        "env": [],
        "x": 1950,
        "y": 1620,
        "wires": [
            [
                "5356481a.baf108"
            ]
        ]
    },
    {
        "id": "558b4ebb.3a7de",
        "type": "subflow:f025c8ec.ac19b8",
        "z": "bc209038.1c28a",
        "name": "",
        "env": [],
        "x": 370,
        "y": 1980,
        "wires": [
            [
                "ef86cf7b.2947c"
            ]
        ]
    },
    {
        "id": "69a30ff5.6910e",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Sensor File",
        "func": "msg.payload = \"sensors.json\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 1980,
        "wires": [
            [
                "558b4ebb.3a7de"
            ]
        ]
    },
    {
        "id": "f890ebe7.765868",
        "type": "function",
        "z": "bc209038.1c28a",
        "name": "Resources File",
        "func": "msg.payload= 'resources.json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 2300,
        "wires": [
            [
                "d7de7a4b.c8c6f8"
            ]
        ]
    },
    {
        "id": "d7de7a4b.c8c6f8",
        "type": "subflow:f025c8ec.ac19b8",
        "z": "bc209038.1c28a",
        "name": "",
        "x": 370,
        "y": 2300,
        "wires": [
            [
                "1beddeed.16e2e1"
            ]
        ]
    },
    {
        "id": "69f3fbdf.635064",
        "type": "debug",
        "z": "bc209038.1c28a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 2640,
        "y": 1720,
        "wires": []
    }
]